<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Junior Jobs</title>
    <link rel="stylesheet" href="/css/style.css" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"
    />
    <link rel="stylesheet" href="../public/css/responsive.css" />
    <script
      src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"
    ></script>
    <script src="js/swiper-bundle.min.js"></script>
    <script src="../public/js/responsive.js"></script>
    <link rel="stylesheet" href="css/swiper-bundle.min.css" />
  </head>

  <body>
    <header class="display-flex justify-space-between align-center p-2">
      {{#if logged_in}}
        <nav>
          <h1>
            Junior Jobs
          </h1>
          <a href="/Profile">Profile</a>
          <button class="btn" id="logout">logout</button>
        </nav>
      {{/if}}
    </header>
    <main class="container container-fluid mt-5">
      {{{body}}}
    </main>
    <footer>

    </footer>

    {{#if logged_in}}
      <script src="/js/logout.js"></script>
    {{/if}}
  </body>

</html>