<h2>JUNIOR JOBS</h2>

<form class="form post-jobs">
  <div class="main-header">
    <div class="title">Job Details</div>
  </div>
  <div class="user=details">
    <div class="input-box">
      <input class="company-name" type="text" placeholder="Company Name" />
    </div>
    <div class="input-box">
      <input class="job-title" type="text" placeholder="Job title" />
    </div>
    <div class="input-box">
      <input
        class="job-description"
        type="text"
        placeholder="Job description"
      />
    </div>
    <div class="main-header">
      <div class="second-title">Salary</div>
      <h6 class="information">select a range below</h6>
      <div class="checkboxs-options">
        <input type="checkbox" id="option1" name="option1" value="highest" />
        <label for="option1">520,000-550,000</label><br />
        <input type="checkbox" id="option2" name="option2" value="medium" />
        <label for="option2">470,000-500,000</label><br />
        <input type="checkbox" id="option3" name="option3" value="low" />
        <label for="option3">390,000-430,000</label><br />
      </div>
    </div>
    <div class="main-header">
      <div class="third-title">Job type</div>
      <h6 class="information2">select a job type below</h6>
      <div class="checkboxs-options">
        <input type="checkbox" id="option4" name="option4" value="fulltime" />
        <label for="option1">Full Time</label><br />
        <input type="checkbox" id="option5" name="option5" value="parttime" />
        <label for="option2">Part Time</label><br />
        <input type="checkbox" id="option6" name="option6" value="intern" />
        <label for="option3">Intern</label><br />
      </div>
    </div>
    <div class="main-header">
      <div class="fourth-title">Industry</div>
      <h6 class="information2">what Industry would this position be in?</h6>
      <div class="checkboxs-options">
        <input type="checkbox" id="option7" name="option7" value="it" />
        <label for="option7">IT/Engineering</label><br />
        <input type="checkbox" id="option8" name="option8" value="Design" />
        <label for="option8">Design</label><br />
        <input
          type="checkbox"
          id="option9"
          name="option9"
          value="hospitality"
        />
        <label for="option3">Hospitality</label><br />
        <input type="checkbox" id="option10" name="option10" value="Media" />
        <label for="option10">Media</label><br />
        <input type="checkbox" id="option11" name="option11" value="Finance" />
        <label for="option3">Finance</label><br />
      </div>
    </div>
    <div class="button">
      <input type="submit" value="Next" />
    </div>
  </div>
</form>