<link rel="stylesheet" href="../public/css/second.css" />

<header class="mainHead">
  <h1>Junior Jobs</h1>
</header>

<a class="btn-block" href="./"><button>Back</button></a>
<form class="container container-fluid form post-jobs">
  <div class="first-header">
    <div class="job-header">
      <p>Job Details<span class="required">*</span></p>
    </div>
    <div class="item">
      <div class="first-item">
        <input
          type="text"
          name="name"
          placeholder="Company name"
          required
          size="50"
        />
      </div>
      <div class="second-item">
        <input
          type="text"
          name="name"
          placeholder="Job Description"
          required
          size="50"
        />
      </div>
    </div>
  </div>
  <div class="second-header">
    <div class="second-title">Salary</div>
    <h4 class="information">select a range below</h4>
    <div class="checkbox-options">

      <label for="option1">180,000-220,000</label>
      <input type="checkbox" id="option1" name="option1" value="highest" /><br
      />

      <label for="option2">120,000-170,000</label>
      <input type="checkbox" id="option2" name="option2" value="medium" /><br />

      <label for="option3">90,000-110,000</label>
      <input type="checkbox" id="option3" name="option3" value="low" /><br />

      <label for="option3">70,000+</label>
      <input type="checkbox" id="option4" name="option4" value="lowest" /><br />
    </div>
  </div>
  <div class="third-header">
    <div class="third-title">Job type</div>
    <h4 class="information2">select a job type below</h4>
    <div class="checkbox-options2">

      <label for="option1">Full Time</label>
      <input type="checkbox" id="option4" name="option4" value="fulltime" /><br
      />

      <label for="option2">Part Time</label>
      <input type="checkbox" id="option5" name="option5" value="parttime" /><br
      />

      <label for="option3">Intern</label>
      <input type="checkbox" id="option6" name="option6" value="intern" /><br />
    </div>
  </div>
  <div class="fourth-header">
    <div class="fourth-title">Industry</div>
    <h4 class="information2">what Industry would this position be in?</h4>
    <div class="checkbox-options3">

      <label for="option7">IT/Engineering</label>
      <input type="checkbox" id="option7" name="option7" value="it" /><br />

      <label for="option8">Design</label>
      <input type="checkbox" id="option8" name="option8" value="Design" /><br />

      <label for="option3">Hospitality</label>
      <input
        type="checkbox"
        id="option9"
        name="option9"
        value="hospitality"
      /><br />

      <label for="option10">Media</label>
      <input type="checkbox" id="option10" name="option10" value="Media" /><br
      />

      <label for="option3">Finance</label>
      <input type="checkbox" id="option11" name="option11" value="Finance" /><br
      />
    </div>
  </div>
  <div class="btn-next">
    <button type="button" href="/">Next</button>
  </div>

</form>