<header class="mainHead">
  <h1>Junior Jobs</h1>
</header>
<a class="btn-block" href="/api/login"><button>Back</button></a>
<form class="form login-form">
  <div class="form-group">
    <label for="username-signup">username:</label>
    <input type="text" id="username-signup" />
  </div>
  <div class="form-group">
    <label for="email-signup">email:</label>
    <input type="text" id="email-signup" />
  </div>
  <div class="form-group">
    <label for="password-signup">password:</label>
    <input type="password" id="password-signup" />
  </div>
  <div class="form-group">
    <button type="submit">signup</button>
  </div>
</form>



<script src="/javascript/signup.js"></script>